.btnToTop {
    position: fixed;
    bottom: 100px;
    right: 50px;
    border-radius: 50px;
    border: none; 
    font-size: 50px;
    text-align: center;
    align-items: center;
    background-color: transparent;
    box-shadow: rgba(102, 94, 94, 0.16) 0px 0px 10px 10px;
    cursor: pointer;
}